/*
    Created on : 24/11/2016, 21:03:55
    Author     : horacio
*/

@import "bulma.css";

body {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.main-container {
  padding-top: 2em;
  height: 100%;
  width: 80%;
  border: 1px solid blackr;
}

.title-box {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.save-button {
  margin-right: 5px;
}

.hidden {
  display: none;
}

select {
  width: 100%
}

.select {
  width: 100%
}

.button {
  width: 80px;
}
